<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Typical Highload</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/get-flag" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="text" placeholder="password">
    <input type="submit" value="Login">
    Registration closed :(
  </form>
</body>
</html>
